@charset "utf-8";

/* I'm not sure why this is working now that I have charset utf-8 above... */

.header {
	text-align: right;
}

.header a {
	padding-left: 15px;
}

.logo {
	margin: auto;
	padding-top: 170px;
}

a {
	font-size: 13px;
	font-family: arial;
	text-decoration: none;
	color: #757575;
}

a:hover {
	text-decoration: underline;
}

img {
	display: block;
	margin: auto;
	width: 272px;
	height: 92px;
}

.search {
	margin: auto;
	max-width: 570px;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 10px;
}

input {
	width: 100%;
}

input[type=text] {
	width: 100%;
	padding: 5px 9px;
	margin: 8px 0;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 26px;

	background-image: url("images/google-mic.png");
	background-size: 14px 20px;
	background-position: 97%;
	background-repeat: no-repeat;
	padding-right: 40px;
}

.bottom-buttons {
	text-align: center;
}

button {
	border: 1px solid;
	border-radius: 2px;
	border-color: #f2f2f2;
	background-color: #f2f2f2;
	color: #757575;
	height: 36px;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 2px;
	padding: 0 16px;
}

#Sign-In {                         /*ID to change the sign-in button only*/
	border:  1px solid;
	border-radius: 2px;
	border-color: #4285f4;
	background-color: #4285f4;
	color: #ffffff;
	height: 30px;
	padding: 0 12px;
	margin: 12px 15px;
	
	
}

.footer {
	display: block;
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	background: #f2f2f2;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	
}



#right {
	float: right;
		
}


#right a {
	padding-right: 27px;

}



#left a {
	padding-left: 27px;

}


/*NOTES FOR NEXT TIME


The pattern for a footer is:
	#footer {
  	 	position:absolute;
   		bottom:0;
   		width:100%;
   		height:60px;   /* Height of the footer */
   		background:#6cf;
	}
	
Compare this with what you have so you can remember how to do it.

*/	