@charset "utf-8";

/* I'm not sure why this is working now that I have charset utf-8 above... */

html {
	-webkit-appearance: none;
	background-color: green;
}

p {
	color: red;
	text-align: center;
}

h1 {
	color: blue;
	text-align: center;
}

h1:hover {
	color: orange;
	text-decoration: underline;
}

