@charset "utf-8";

/* I'm not sure why this is working now that I have charset utf-8 above... */

.header {
	text-align: right;
}

.logo {
	margin: auto;
	padding-top: 170px;
}

img {
	display: block;
	margin: auto;
	width: 272px;
	height: 92px;
}

.search {
	margin: auto;
	max-width: 600px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	border-color: black;
	border: 1px;
	border-style: solid;
}

input {
	width: 100%;
}

input[type=text] {
	width: 100%;
	padding: 5px 9px;
	margin: 8px 0;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 26px;
}

.bottom-buttons {
	text-align: center;
}